.inputGroup {
    background-color: #dbdbdb;
    padding: 8px 16px;
    margin: 0 0 16px 0;
    display: flex;
    flex-wrap: wrap;

    label {
        font-weight: bold;
        width: 100%;
        margin-bottom: 8px;
    }
    input, select {
        width: 300px;
        margin-bottom: 8px;
    }

    .width-100 {
        width: 100%;
    }
}

.results{
    border: #424242 2px solid;
    background-color: #dbdbdb;
}


.spacer {
    margin: 20px 0px;
}

.newObject {
    margin-bottom: 12px;


    input {
        min-width: 400px;
        width: auto;
    }
}

#jsonData {
    background-color: #dbdbdb;
    height: 450px;
    overflow: scroll;
    width: auto;
}

button {
    margin: 8px 8px 8px 0px;
}